<a href="https://colab.research.google.com/github/EduardoShoiti/DataScience_CR7_penaltis/blob/master/cr7_Penaltis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
import pandas as pd

## Criação do DataFrame

In [76]:
dataset = pd.read_csv('Ronaldo_penalties.csv')

In [77]:
dataset.head()

   Unnamed: 0 Season Competition  ... Final result Foot Area
0           0  20/21   EURO 2020  ...          2:2    r    1
1           1  20/21   EURO 2020  ...          2:2    r    1
2           2  20/21   EURO 2020  ...          3:0    r    5
3           3  20/21     Serie A  ...          3:2    r    3
4           4  20/21     Serie A  ...          2:1    r    1

[5 rows x 13 columns]

In [78]:
dataset[dataset.isnull()].sum()

Unnamed: 0              0.0
Season                  0.0
Competition             0.0
Club                    0.0
Against                 0.0
Date                    0.0
Minute                  0.0
Goalkeeper              0.0
Success?                0.0
Score at this moment    0.0
Final result            0.0
Foot                    0.0
Area                    0.0
dtype: float64

In [79]:
df = dataset[['Season', 'Date', 'Competition', 'Club', 'Against', 'Minute', 'Success?', 'Foot', 'Goalkeeper', 'Score at this moment', 'Final result']]

In [80]:
df.columns = ['Temporada', 'Data', 'Competicao', 'Clube', 'Adversario', 'Minuto', 'Gol?', 'Pe', 'Goleiro', 'Placar no momento', 'Resultado Final']

In [81]:
df.head()

  Temporada        Data  ... Placar no momento Resultado Final
0     20/21  2021-06-23  ...               2:2             2:2
1     20/21  2021-06-23  ...               1:0             2:2
2     20/21  2021-06-15  ...               2:0             3:0
3     20/21  2021-05-15  ...               1:0             3:2
4     20/21  2021-05-02  ...               1:1             2:1

[5 rows x 11 columns]

## Separando pênaltis por clube

In [82]:
df['Clube'].unique()

array(['Portugal', 'Juventus FC', 'Real Madrid', 'Manchester United'],
      dtype=object)

In [83]:
df_portugal = df[df['Clube'] == 'Portugal']
df_portugal.reset_index(drop = True, inplace = True)
df_portugal.head()

  Temporada        Data  ... Placar no momento Resultado Final
0     20/21  2021-06-23  ...               2:2             2:2
1     20/21  2021-06-23  ...               1:0             2:2
2     20/21  2021-06-15  ...               2:0             3:0
3     18/19  2019-11-14  ...               1:0             6:0
4     18/19  2019-10-14  ...               1:2             1:2

[5 rows x 11 columns]

In [84]:
df_manchesterU = df[df['Clube'] == 'Manchester United']
df_manchesterU.reset_index(drop = True, inplace = True)
df_manchesterU.head()

  Temporada        Data  ... Placar no momento Resultado Final
0     08/09  2009-04-25  ...               1:2             5:2
1     08/09  2009-03-14  ...               1:0             1:4
2     08/09  2009-01-31  ...               1:0             1:0
3     08/09  2009-01-20  ...               4:1             4:2
4     08/09  2008-09-27  ...               1:0             2:0

[5 rows x 11 columns]

In [85]:
df_real_madrid = df[df['Clube'] == 'Real Madrid']
df_real_madrid.reset_index(drop = True, inplace = True)
df_real_madrid.head()

  Temporada        Data  ... Placar no momento Resultado Final
0     17/18  2018-04-11  ...               1:3             1:3
1     17/18  2018-02-14  ...               1:1             3:1
2     17/18  2018-01-27  ...               1:0             4:1
3     17/18  2018-01-27  ...               2:0             4:1
4     17/18  2017-12-09  ...               3:0             5:0

[5 rows x 11 columns]

In [86]:
df_juventus = df[df['Clube'] == 'Juventus FC']
df_juventus.reset_index(drop = True, inplace = True)
df_juventus.head()

  Temporada        Data  ... Placar no momento Resultado Final
0     20/21  2021-05-15  ...               1:0             3:2
1     20/21  2021-05-02  ...               1:1             2:1
2     20/21  2021-03-14  ...               2:0             3:1
3     20/21  2021-02-02  ...               1:1             2:1
4     20/21  2020-12-16  ...               1:1             1:1

[5 rows x 11 columns]